body{
    font-family: 'Work Sans';
    font-style: normal;
}

h1{
    font-weight: 800;
    color: #1E3A8A;
}

h3{
    font-weight: 800;
    color: #4B5563;
}

.about p{
    color: #4B5563;
    font-weight: 400;
    font-size: 20px;
}